.add-team-form .title {
    margin-top: 10px; /* Removes the top margin from the title */
    font-size: 24px;
    font-weight: bold; /* Makes the font bold */
    font-family: sans-serif; /* Changes the font to sans-serif */
}

.add-team-form {
    font-family: 'Arial', sans-serif;
    border: 2px solid #000000;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f0f0f0; /* Light grey background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Adds a subtle shadow */
}
  .add-team-form label {
    font-family: 'Open+Sans', sans-serif;
    font-size: 16px; /* Example for setting font size */
    margin-left: 10px; /* Example for setting margin */
    margin-bottom: 10px;
  }
  
  .add-team-form input,
  .add-team-form button {
      font-family: 'Open+Sans', sans-serif;
      padding: 10px; /* Adds some padding */
      border: 1px solid #ccc; /* Light grey border */
      border-radius: 7px; /* Rounded corners */
      margin-bottom: 10px;
  }

.add-team-form label {
    line-height: 1.5; /* Adjust the number to suit your design */
  }

  .add-team-form input:focus {
    outline: none; /* Removes the default outline */
    border: 2px solid #56a8ff; /* Example: adds a blue border instead */
    box-shadow: 0 0 5px #56a8ff; /* Example: adds a glow effect */
    padding-top: 0;
    }

  .add-team-form {
    margin-top: 0; /* Removes margin at the top of the form */
    padding-top: 0; /* Ensures no padding at the top inside the form */
    /* Other existing styles... */
  }
  
  .error {
    color: red; /* Example error color */
    margin-left: 10px; /* Example margin */
    margin-bottom: 10px;
  }