<section class="container">
  <div class="card mt-4 shadow" *ngIf="user.username; else login">
    <h4 class="card-header">Hi {{ user.username }},</h4>
    <div class="card-body">
      <div class="m-2">
        <h6>Your access token is</h6>
        {{ user.token }}
      </div>
      <div class="m-2">
        <h6>Token expires at:</h6>
        {{ expiry }}
      </div>
    </div>
    <div class="card-footer py-3 fs-5">
      To view all the events or add/manage events, please click the
      <a routerLink="events">here</a>.
    </div>
  </div>
</section>
<ng-template #login>
  <div class="card mt-4 shadow">
    <h4 class="card-header">You have been logged out</h4>
    <div class="card-body">
      <div class="m-2">
        Please click <a routerLink="login">here</a> to login.
      </div>
    </div>
  </div>
</ng-template>
