<!-- teams.component.html -->
<div class="table-container">
    <h2>Teams</h2>
    <table class="stats-table">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Win Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams">
          <td>{{ team.name }}</td>
          <td>{{ team.wins }}</td>
          <td>{{ team.losses }}</td>
          <td>{{ calculateWinPercentage(team) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  