<!-- teams.component.html -->
<div class="table-container">
  <h2>Teams</h2>
  <button class="upload-button" (click)="uploadStats()">Upload Stats</button> <!-- Styled upload button -->
  <table class="stats-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Logo</th>
        <th>Players</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{ team.name }}</td>
        <td>
          <div class="logo-container">
            <img [src]="team.logo" alt="Team Logo" class="logo-image" style="width: 50px; height: 50px;">
            <button class="change-logo-button" (click)="changeLogo($event)">Change Logo</button>
            <input type="file" accept="image/png" (change)="onLogoFileSelected($event)" style="display: none;" />
          </div>
        </td>
        <td>
          <ul>
            <li *ngFor="let player of team.players">{{ player }}</li>
          </ul>
        </td>
        <td>{{ team.location }}</td>
      </tr>
    </tbody>
  </table>
</div>
